<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/C:/TibcoBWCE/bwce/2.3/config/drivers/shells/jdbc.oracle.runtime//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/TibcoBWCE/bwce/2.3/config/drivers/shells/jdbc.oracle.runtime//runtime/plugins" type="Directory"/>


<location path="C:/TibcoBWCE/bwce/2.3/system/hotfix/lib/common" type="Directory"/>
<location path="C:/TibcoBWCE/bwce/2.3/system/lib/common" type="Directory"/>

<location path="C:/TibcoBWCE/bwce/2.3/system/hotfix/palettes" type="Directory"/>
<location path="C:/TibcoBWCE/bwce/2.3/system/palettes" type="Directory"/>

<location path="C:/TibcoBWCE/bwce/2.3/system/hotfix/shared" type="Directory"/>
<location path="C:/TibcoBWCE/bwce/2.3/system/shared" type="Profile"/>
</locations>
</target>
