{
  "pid": "bw.application.sample-rest-app-cf.application_1.0",
  "properties": {
    ".module.name": {
      "name": ".module.name",
      "value": "sample-rest-app-cf.application",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.\/\/sample-rest-app-cf\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/sample-rest-app-cf\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/sample-rest-app-cf\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/sample-rest-app-cf\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/sample-rest-app-cf\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/sample-rest-app-cf\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/sample-rest-app-cf\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/sample-rest-app-cf\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/sample-rest-app-cf\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/sample-rest-app-cf\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.sample-rest-app-cf.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/sample-rest-app-cf\/\/MySurnameIs": {
      "name": ".type.\/\/sample-rest-app-cf\/\/MySurnameIs",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/sample-rest-app-cf\/\/BW.HOST.NAME": {
      "name": "\/\/sample-rest-app-cf\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "\/\/sample-rest-app-cf\/\/BW.MODULE.NAME": {
      "name": "\/\/sample-rest-app-cf\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/sample-rest-app-cf\/\/BW.CLOUD.PORT": {
      "name": "\/\/sample-rest-app-cf\/\/BW.CLOUD.PORT",
      "value": "8080",
      "type": "java.lang.String"
    },
    "\/\/sample-rest-app-cf\/\/BW.MODULE.VERSION": {
      "name": "\/\/sample-rest-app-cf\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "sample-rest-app-cf.application",
      "type": "java.lang.String"
    },
    ".type.\/\/sample-rest-app-cf\/\/BW.CLOUD.PORT": {
      "name": ".type.\/\/sample-rest-app-cf\/\/BW.CLOUD.PORT",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "\/\/sample-rest-app-cf\/\/MySurnameIs": {
      "name": "\/\/sample-rest-app-cf\/\/MySurnameIs",
      "value": "Shivatare",
      "type": "java.lang.String"
    },
    "\/\/sample-rest-app-cf\/\/MyNameIs": {
      "name": "\/\/sample-rest-app-cf\/\/MyNameIs",
      "value": "Ashish",
      "type": "java.lang.String"
    },
    ".type.\/\/sample-rest-app-cf\/\/MyNameIs": {
      "name": ".type.\/\/sample-rest-app-cf\/\/MyNameIs",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/sample-rest-app-cf\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/sample-rest-app-cf\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/sample-rest-app-cf\/\/BW.HOST.NAME": {
      "name": ".type.\/\/sample-rest-app-cf\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/sample-rest-app-cf\/\/BW.APPNODE.NAME": {
      "name": "\/\/sample-rest-app-cf\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/sample-rest-app-cf\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/sample-rest-app-cf\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}