{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.1ec80941-77a8-46b4-b28d-0807d31d4de1",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}